<ul nz-menu nzTheme="light" nzMode="inline">
  <ng-container *ngFor="let level1 of hierarchy" [ngTemplateOutlet]="hierarchyTree" [ngTemplateOutletContext]="{
    basePath: ['/catalogue', level1.name],
    item: level1,
    level: 1
  }">
  </ng-container>

  <ng-template #hierarchyTree let-basePath="basePath" let-item="item" let-level="level">
    <li *ngIf="!item.children?.length; else submenuTmp" nz-menu-item [nzPaddingLeft]="level * 24">
      <a [routerLink]="basePath | transliterateArray: 1">{{item.name}}</a>
    </li>
  
    <ng-template #submenuTmp>
      <li nz-submenu [nzPaddingLeft]="level * 24" [nzTitle]="item.name">
        <ul>
          <li nz-menu-item class="sider-show-all" [nzPaddingLeft]="(level + 1) * 24"><a [routerLink]="basePath | transliterateArray: 1">Показать все</a></li>
          <ng-container *ngFor="let subItem of item.children" [ngTemplateOutlet]="hierarchyTree" [ngTemplateOutletContext]="{
            basePath: (joinPath | executeWith: basePath: subItem.name),
            item: subItem,
            level: level + 1
          }"></ng-container>
        </ul>
    </ng-template>
  </ng-template>
</ul>
