<app-sider-main *ngIf="!loading"
                [data]="data"
                [collapsed]="dataService.siderCollapsed"
></app-sider-main>
<nz-layout>
  <nz-content>
    <div class="inner-content">
      <button class="btn" (click)="goToCatalogue()">Перейти в каталог</button>
        <button class="btn" (click)="adminService.createDictionary()">Создать словарь (админ)</button>
        <button class="btn" (click)="adminService.createHierarchy()">Создать иерархию (админ)</button>
    </div>
  </nz-content>
</nz-layout>


