<ng-container *ngIf="!(isLoading$ | async); else loadingTmp">
  <h1>Каталог</h1>
  <h2>Пожалуйста, выберите категорию товаров из списка:</h2>
  <div nz-row [nzGutter]="[16, 24]">
    <div *ngFor="let category of data" nz-col class="gutter-row"
         [nzXs]="24"
         [nzSm]="12"
    >
      <div class='card' (click)="router.navigate(transliteratePipe.transform(['/catalogue', category.name], 1))">
          {{category.name}}
      </div>
    </div>
  </div>
</ng-container>


<ng-template #loadingTmp>Loading...</ng-template>
