<ng-container *ngIf="sourceData$ | async as sourceData; else loadingTmp">
  <app-catalogue-header
    [pageData]="sourceData.data"
    [hierarchyLevel]="4"
  >
  </app-catalogue-header>
  <app-catalogue-table
    [data]="sourceData.data.goods"
    [params]="sourceData.queryParams"
    (pageChanged)="onPageChanged($event)"
    (sizeChanged)="onSizeChanged($event)"
    (sortChanged)="onSortChanged($event)"
    (typeChanged)="onTypeChanged($event)">
  </app-catalogue-table>
</ng-container>

<ng-template #loadingTmp> Подождите, идет загрузка</ng-template>

