<nz-layout>
  <nz-sider nzWidth="250px" nzTheme="light" nzCollapsible [nzTrigger]="null" [nzCollapsed]="collapsed" [nzCollapsedWidth]="0">
    <ul [ngSwitch]="data.children[0].name" nz-menu nzTheme="light" nzMode="inline">
      <li *ngSwitchCase="''" nz-menu-item>
        {{data.name}}
      </li>
      <li *ngSwitchDefault nz-submenu nzOpen [nzTitle]="data.name">
        <ul>
          <li *ngFor="let child of data.children" nz-menu-item>
            <a [routerLink]="[child.name] | transliterateArray: 0">{{child.name}}</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>


