<nz-card 
  nzHoverable
  [nzActions]="editable ? [editButton] : []"
>
  <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="product?.Name" [nzDescription]="'Цена: ' + product?.Price + 'р'"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar
    [nzSrc]="product?.id | GetImage | async"
    [nzSize]="64"
    [nzShape]="'square'"
    nz-popover
    nzPopoverTitle=""
    [nzPopoverContent]="bigImageTemplate"
    nzPopoverPlacement="topLeft"
  ></nz-avatar>
  
  <ng-template #bigImageTemplate>
    <div
      style="height:150px; width:150px">
      <img
      width="150"
      height="150"
      [src]="product?.id | GetImage | async"
    />
    </div>
  </ng-template>  
</ng-template>

<ng-template #editButton>
  <i nz-icon nzType="edit" (click)="editModalService.openModal(product)"></i>
</ng-template>
