.layout {
  min-height: 100vh;
}

nz-header {
  width: 100%;
  padding: 0 24px 0 24px;
  position: fixed;
  display: inline-block;
  z-index: 2;
  .logo {
    height: 100%;
    width: auto;
    float: left;
    margin-right: 10px;
  }
  [nz-menu] {
    width: auto;
    vertical-align: middle;
  }

  nz-input-group {
    vertical-align: middle;
    padding-left: 5vh;
    padding-right: 5vh;
    width: auto;
  }

  #user {
    vertical-align: middle;
    display: inline-block;
  }

}

nz-sider {
  margin-top: 64px;
  z-index: 1;
  min-height: 100%;
  padding: 20px 0;
}

#logo {
  height: 80%;
  width: auto;
}

.trigger {
  color: white;
  font-size: 24px;
  vertical-align: middle;
}

.ant-menu-item {
  word-break: break-all;
  white-space: normal;
}

.inner-content {
  background: #fff;
  padding: 20px 20px 5px 20px;
}

nz-footer {
  text-align: center;
}



