.layout {
  min-height: 100vh;
}

nz-header {
  width: 100%;
  position: fixed;
  display: inline-block;
  z-index: 2;
}

nz-sider {
  margin-top: 64px;
  z-index: 1;
  overflow: auto;
  min-height: 100%;
  padding: 20px 0;
}

.ant-menu-item {
  word-break: break-all;
  white-space: normal;
}

.inner-content {
  background: #fff;
  padding: 20px 20px 5px 20px;
}

nz-footer {
  text-align: center;
}

