<form nz-form [formGroup]="form">
  <div nz-column>
    <h4>Фон</h4>
    <img nz-image alt="Фон" width="100%" height="200px" [nzSrc]="uploadUrl" />
    <nz-form-item>
      <nz-form-label>Выберите изображение</nz-form-label>
      <nz-form-control>
        <input nz-input type="file" (change)="uploadImage($event)" />
      </nz-form-control>
    </nz-form-item>
    <h4>Описание</h4>
    <nz-form-item>
      <nz-form-control>
        <textarea nz-input formControlName="description" nzAutosize></textarea>
      </nz-form-control>
    </nz-form-item>
    <div class="actions">
      <button nz-button type="button" nzType="primary" (click)="saveItem()">Сохранить изменения</button>
      <button *ngIf="form.value.id" nz-button type="button" (click)="deleteItem()">Удалить объект</button>
    </div>
  </div>  
</form>
