<div class="logo">
  <a [routerLink]="['/']">
    <img id="logo" src="assets/logo.png" alt="BROMobile">
  </a>
</div>
<ul
  class="header-menu desktop-header"
  nz-menu
  nzTheme="dark"
  nzMode="horizontal"
>
  <li nz-menu-item nz-dropdown [nzDropdownMenu]="catalogueMenu">
    <a [routerLink]="['/catalogue']">Каталог</a>
  </li>
  <nz-dropdown-menu #catalogueMenu="nzDropdownMenu">
    <ul nz-menu>
      <li *ngFor="let category of hierarchy" nz-menu-item>
        <a [routerLink]="['/catalogue', category.name] | transliterateArray: 1"
        >{{category.name}}</a>
      </li>
    </ul>
  </nz-dropdown-menu>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/contacts']">Контакты</a>
  </li>
  <li nz-menu-item nzMatchRouter *ngIf="userService.admin">
    <a [routerLink]="['/admin']">Админ</a>
  </li>
</ul>
<nz-input-group 
  class="header-search desktop-header" 
  nzSearch 
  [nzAddOnAfter]="suffixIconButton"
>
  <input type="text" [(ngModel)]="search" nz-input placeholder="Поиск по каталогу"/>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch
      (click)="doSearch(search)"
    >
      <i nz-icon nzType="search"></i>
    </button>
  </ng-template>
</nz-input-group>
<ul 
  class="header-menu mobile-header"
  nz-menu
  nzTheme="dark"
  nzMode="horizontal"
>
  <li nz-submenu nzIcon="menu">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/catalogue']">Каталог</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/search']">Поиск</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/contacts']">Контакты</a>
      </li>
    </ul>
  </li>
</ul>

<div 
  class="header-user"
  nz-tooltip
  [nzTooltipTitle]="userTooltip"
  >
  <button class="user-button" nz-button nzType="primary" (click)="loginAction()">
    <i nz-icon [nzType]="userIcon" nzTheme="outline"></i>
  </button>
</div>
