<div class="table-actions d-flex flex-row flex-wrap gap-2 mb-1">
  <app-button  icon="plus-circle" label="Добавить продукт" [actionCallback$]="createProduct"></app-button>
  <app-button icon="file-text" label="Загрузить из JSON" [actionCallback$]="uploadFile | executeWith: uploadFileControl"></app-button>
  <input #uploadFileControl type="file" hidden (change)="load($event)" accept="application/json">
  <app-button icon="clear" label="Очистить фильтры" [actionCallback$]="resetFilters"></app-button>
  <app-button appearance="primary" icon="cloud-upload" label="Сохранить изменения" [actionCallback$]="save$"></app-button>
  <app-button icon="rollback" label="Сбросить изменения" [actionCallback$]="cancel"></app-button> 
</div>
<nz-table 
  #contentTable 
  [nzData]="dataFiltered"
  nzBordered 
  nzTableLayout="fixed"
  nzPaginationPosition="both"
  nzShowSizeChanger
  [nzScroll]="{y: '520px'}"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        nzWidth="80px"
        [nzChecked]="allCheckedOnPage"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      >
        <button 
            nz-button
            nzShape="circle"
            nzType="text"
            nz-popover 
            nzPopoverTrigger="click" 
            nzPopoverTitle="Действия" 
            [nzPopoverContent]="bulkActionsTemplate"
          >
            <i nz-icon nzType="more" nzTheme="outline"></i>
          </button>
      </th>
      <th nzWidth="60px"></th>
      <th 
        nzCustomFilter
        [nzSortFn]="sortFns['Name']"
      >
        Название
        <nz-filter-trigger 
          [(nzVisible)]="nameFilterVisible" 
          [nzActive]="nameFilterValue.length > 0" 
          [nzDropdownMenu]="nameFilter">
          <i nz-icon nzType="filter"></i>
        </nz-filter-trigger>
      </th>
      <th
        [nzSortFn]="sortFns['Category 1']"
        [nzFilters]="categoryList1"
        [nzFilterFn]="filterFns['Category 1']"
        [nzFilterMultiple]="true"
        (nzFilterChange)="updateCacheAndLists($event, 1)"
      >
        Категория 1
      </th>
      <th
        [nzSortFn]="sortFns['Category 2']"
        [nzFilters]="categoryList2"
        [nzFilterFn]="filterFns['Category 2']"
        [nzFilterMultiple]="true"
        (nzFilterChange)="updateCacheAndLists($event, 2)"
      >
        Категория 2
      </th>
      <th
        [nzSortFn]="sortFns['Category 3']"
        [nzFilters]="categoryList3"
        [nzFilterFn]="filterFns['Category 3']"
        [nzFilterMultiple]="true"
        (nzFilterChange)="updateCacheAndLists($event, 3)"
      >
        Категория 3
      </th>
      <th
        [nzSortFn]="sortFns['Category 4']"
        [nzFilters]="categoryList4"
        [nzFilterFn]="filterFns['Category 4']"
        [nzFilterMultiple]="true"
        (nzFilterChange)="updateCacheAndLists($event, 4)"
      >
        Категория 4
      </th>
      <th
        [nzSortFn]="sortFns['Price']"
      >
        Цена, руб.
      </th>
      <th
        [nzSortFn]="sortFns['Quantity']"
      >
        Количество
      </th>
    </tr>

    <ng-template #bulkActionsTemplate>
      <div class="bulk-actions d-flex flex-column">
        <button nz-button nzType="text" (click)="bulkDeleteProduct()"><i nz-icon nzType="delete-row"></i>Удалить выбранные товары</button>
        <button nz-button nzType="text" (click)="bulkDeleteImage()"><i nz-icon nzType="delete"></i> Удалить изображения</button>
      </div>
    </ng-template>
  </thead>
  <tbody>
    <tr *ngFor="let product of contentTable.data">
      <ng-container *ngIf="!editCache[product.id]; else editTemplate">
        <td
         [nzChecked]="checkedRows.has(product.id)"
         (nzCheckedChange)="onItemChecked(product.id, $event)"
        >
          <button 
            nz-button
            nzShape="circle"
            nzType="text"
            nz-popover 
            nzPopoverTrigger="click" 
            nzPopoverTitle="Действия" 
            [nzPopoverContent]="rowActionsTemplate"
          >
            <i nz-icon nzType="more" nzTheme="outline"></i>
          </button>
        </td>
        <td>
          <button
            *ngIf="imageDisplayed[product.id]"
            nz-button
            nzType="text"
            nz-popover
            nzPopoverTrigger="click"
            nzPopoverTitle=""
            [nzPopoverContent]="imageTemplate"
          >
          <i nz-icon nzType="picture" nzTheme="outline"></i>
        </button>
        </td>
        <td>{{ product.Name }}</td>
        <td>{{ product['Category 1'] }}</td>
        <td>{{ product['Category 2'] }}</td>
        <td>{{ product['Category 3'] }}</td>
        <td>{{ product['Category 4'] }}</td>
        <td>{{ product.Price | number }}</td>
        <td>{{ product.Quantity | number }}</td>
      </ng-container>

      <ng-template #rowActionsTemplate>
        <div class="row-actions d-flex flex-column">
          <button nz-button nzType="text" (click)="startEdit(product.id)"><i nz-icon nzType="edit"></i> Редактировать</button>
          <button nz-button nzType="text" (click)="deleteProduct(product.id)"><i nz-icon nzType="delete-row"></i>Удалить товар</button>
          <button nz-button nzType="text" (click)="uploadImage.click()">
            <i nz-icon nzType="picture"></i> Загрузить изображение
            <input #uploadImage type="file" hidden (change)="loadImage(product.id, $event)" accept="image/*">
          </button>
          <button nz-button [disabled]="!imageDisplayed[product.id]" nzType="text" (click)="deleteImage(product.id)"><i nz-icon nzType="delete"></i> Удалить изображение</button>
        </div>
      </ng-template>

      <ng-template #imageTemplate>
        <div
          style="height:150px; width:150px">
          <img
          width="150"
          height="150"
          [src]="imageDisplayed[product.id].downloadUrl"
          />
        </div>
      </ng-template>

      <ng-template #editTemplate>
        <td>
          <div class="d-flex flex-row">
            <button nz-button nzType="text" (click)="saveEdit(product.id)" class="save-edit"><i nz-icon nzType="check-circle" nzTheme="outline"></i></button>
            <button nz-button nzType="text" (click)="cancelEdit(product.id)" class="cancel-edit"><i nz-icon nzType="close-circle" nzTheme="outline"></i></button>
          </div>
        </td>
        <td></td>
        <td><textarea nz-input nzAutosize [(ngModel)]="editCache[product.id].Name"></textarea></td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[product.id]['Category 1']"
            (ngModelChange)="updateAutocomplete($event, 1)"
            [nzAutocomplete]="category1Auto"
          />
          <nz-autocomplete #category1Auto [nzDataSource]="autocompleteCategories[1]"></nz-autocomplete>
        </td>
        <td>
          <input
           type="text" 
           nz-input 
           [(ngModel)]="editCache[product.id]['Category 2']"
           (ngModelChange)="updateAutocomplete($event, 2)"
           [nzAutocomplete]="category2Auto"
          />
          <nz-autocomplete #category2Auto [nzDataSource]="autocompleteCategories[2]"></nz-autocomplete>
        </td>
        <td>
          <input 
            type="text" 
            nz-input 
            [(ngModel)]="editCache[product.id]['Category 3']"
            (ngModelChange)="updateAutocomplete($event, 3)"
            [nzAutocomplete]="category3Auto"
          />
          <nz-autocomplete #category3Auto [nzDataSource]="autocompleteCategories[3]"></nz-autocomplete>
        </td>
        <td>
          <input 
            type="text" 
            nz-input 
            [(ngModel)]="editCache[product.id]['Category 4']"
            (ngModelChange)="updateAutocomplete($event, 4)"
            [nzAutocomplete]="category4Auto"
          />
          <nz-autocomplete #category4Auto [nzDataSource]="autocompleteCategories[4]"></nz-autocomplete>
        </td>
        <td><input type="number" nz-input [(ngModel)]="editCache[product.id].Price" /></td>
        <td><input type="number" nz-input [(ngModel)]="editCache[product.id].Quantity" /></td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #nameFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="filter-box">
      <input type="text" nz-input placeholder="Введите текст" [(ngModel)]="nameFilterValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="filterName()" class="filter-button">Фильтровать</button>
      <button nz-button nzSize="small" (click)="resetNameFilter()">Очистить</button>
    </div>
  </div>
</nz-dropdown-menu>
